# Python para Dados - Atividade de Fixação Data Pipeline

*Utilização da API do Portal da Transparência*

Para a execução desta atividade é necessário a criação de um cadastro no Portal da Transparência:
(https://portaldatransparencia.gov.br/api-de-dados/cadastrar-email)

# ATENÇÃO: para o código funcionar, coloque a sua chave de acesso ao Portal da Transparencia no local indicado.

In [1]:
import requests
import json
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import logging

### Minha API

In [2]:
headers = {"chave-api-dados" : "COLOQUE SEU CODIGO AQUI"}

### Acesso ao portal da transparência do governo federal playground para a criação da extração

In [3]:
url = 'https://api.portaldatransparencia.gov.br/api-de-dados/emendas?ano=2022&pagina=1'

resposta_ = requests.get(url, headers=headers)

In [4]:
data1 = resposta_.json()
pd.DataFrame(data1).head()

,codigoEmenda,ano,tipoEmenda,autor,nomeAutor,numeroEmenda,localidadeDoGasto,funcao,subfuncao,valorEmpenhado,valorLiquidado,valorPago,valorRestoInscrito,valorRestoCancelado,valorRestoPago
0,202250170002,2022,Emenda de Comissão,COM. FINANCAS E TRIBUTACAO,COM. FINANCAS E TRIBUTACAO,0002,Nacional,Administração,Ensino superior,"3.560,00","3.560,00","0,00","3.560,00","0,00","3.560,00"
1,202281000305,2022,Emenda de Relator,RELATOR GERAL,RELATOR GERAL,0305,Nacional,Assistência social,Alimentação e nutrição,"8.037,30","8.037,30","8.037,30","0,00","0,00","0,00"
2,202237370006,2022,Emenda Individual,ORLANDO SILVA,ORLANDO SILVA,0006,SÃO PAULO (UF),Saúde,Vigilância epidemiológica,"10.675,00","0,00","0,00","10.675,00","0,00","10.675,00"
3,202240600003,2022,Emenda Individual,LUIZAO GOULART,LUIZAO GOULART,0003,RIO BRANCO DO SUL - PR,Saúde,Assistência hospitalar e ambulatorial,"11.268,00","11.268,00","11.268,00","0,00","0,00","0,00"
4,202229250004,2022,Emenda Individual,CARMEN ZANOTTO,CARMEN ZANOTTO,0004,DISTRITO FEDERAL (UF),Educação,Ensino superior,"30.000,00","28.500,00","21.500,00","10.000,00","0,00","7.000,00"

In [5]:
url = 'https://api.portaldatransparencia.gov.br/api-de-dados/emendas?ano=2022&pagina='

In [6]:
# Emendas página até 408, que é a quantidade de paginas que tem no Portal da TRansparencia para 2022

list_urls = [url + str(i) for i in range(1, 6)]

In [7]:
list_urls[:2]

['https://api.portaldatransparencia.gov.br/api-de-dados/emendas?ano=2022&pagina=1',
 'https://api.portaldatransparencia.gov.br/api-de-dados/emendas?ano=2022&pagina=2']

In [8]:
# passando a lista para um array
arr_urls = np.asarray(list_urls)

In [10]:
def run_request(url_):
  resposta = requests.get(url_, headers=headers)
  return resposta.json()

In [11]:
vec_run = np.vectorize(run_request)

arr_responses = vec_run(arr_urls)

In [12]:
arr_responses = arr_responses.tolist()

In [13]:
len(arr_responses)

5

In [14]:
reposta = np.concatenate(arr_responses).tolist()

In [15]:
df = pd.DataFrame(reposta)
df

,codigoEmenda,ano,tipoEmenda,autor,nomeAutor,numeroEmenda,localidadeDoGasto,funcao,subfuncao,valorEmpenhado,valorLiquidado,valorPago,valorRestoInscrito,valorRestoCancelado,valorRestoPago
0,202250170002,2022,Emenda de Comissão,COM. FINANCAS E TRIBUTACAO,COM. FINANCAS E TRIBUTACAO,0002,Nacional,Administração,Ensino superior,"3.560,00","3.560,00","0,00","3.560,00","0,00","3.560,00"
1,202281000305,2022,Emenda de Relator,RELATOR GERAL,RELATOR GERAL,0305,Nacional,Assistência social,Alimentação e nutrição,"8.037,30","8.037,30","8.037,30","0,00","0,00","0,00"
2,202237370006,2022,Emenda Individual,ORLANDO SILVA,ORLANDO SILVA,0006,SÃO PAULO (UF),Saúde,Vigilância epidemiológica,"10.675,00","0,00","0,00","10.675,00","0,00","10.675,00"
3,202240600003,2022,Emenda Individual,LUIZAO GOULART,LUIZAO GOULART,0003,RIO BRANCO DO SUL - PR,Saúde,Assistência hospitalar e ambulatorial,"11.268,00","11.268,00","11.268,00","0,00","0,00","0,00"
4,202229250004,2022,Emenda Individual,CARMEN ZANOTTO,CARMEN ZANOTTO,0004,DISTRITO FEDERAL (UF),Educação,Ensino superior,"30.000,00","28.500,00","21.500,00","10.000,00","0,00","7.000,00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,202237330009,2022,Emenda Individual,MOSES RODRIGUES,MOSES RODRIGUES,0009,CEARÁ (UF),Defesa nacional,Administração geral,"99.825,71","98.027,19","88.095,60","11.730,11","0,00","11.730,11"
71,202219830011,2022,Emenda Individual,MARIA DO ROSARIO,MARIA DO ROSARIO,0011,RIO GRANDE DO SUL (UF),Educação,Ensino superior,"99.869,00","91.689,00","49.080,00","50.789,00","0,00","50.789,00"
72,202240640005,2022,Emenda Individual,ROGERIO CORREIA,ROGERIO CORREIA,0005,OURO PRETO - MG,Educação,Ensino superior,"99.871,94","8.191,99","4.000,00","95.877,77","535,94","95.330,17"
73,202211970003,2022,Emenda Individual,PERPETUA ALMEIDA,PERPETUA ALMEIDA,0003,ACRE (UF),Educação,Ensino superior,"99.875,97","0,00","0,00","170.733,47","0,00","29.018,47"
74,202239600003,2022,Emenda Individual,DR. FREDERICO,DR. FREDERICO,0003,MINAS GERAIS (UF),Urbanismo,Assistência comunitária,"99.879,95","19.927,45","8.043,50","91.836,45","0,00","91.836,45"

In [16]:
df_area = df[['funcao', 'valorEmpenhado']]
df_area['valorEmpenhado'] = df_area['valorEmpenhado'].str.replace('.', '').str.replace(',', '.').astype(np.float64)

C:\Users\na_fe\AppData\Local\Temp\ipykernel_16696\3901845461.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_area['valorEmpenhado'] = df_area['valorEmpenhado'].str.replace('.', '').str.replace(',', '.').astype(np.float64)

In [17]:
df_area.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75 entries, 0 to 74
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   funcao          75 non-null     object
 1   valorEmpenhado  75 non-null     float64
dtypes: float64(1), object(1)
memory usage: 1.3+ KB

In [18]:
agg_area = df_area.groupby('funcao').sum('valorEmpenhado')

In [19]:
agg_area

                     valorEmpenhado
funcao
Administração               3560.00
Agricultura               197506.34
Assistência social         93352.30
Comércio e serviços        50000.00
Cultura                   120000.00
Defesa nacional          1214201.98
Educação                 2784263.14
Organização agrária        69165.76
Relações exteriores        33278.12
Saúde                     650934.00
Trabalho                   99724.38
Transporte                 98600.00
Urbanismo                  99879.95

In [20]:
1.380082e+09/23670334710.190002

0.05830428749306528

In [21]:
agg_area = agg_area['valorEmpenhado']/df_area['valorEmpenhado'].sum()

In [22]:
agg_area = agg_area.reset_index()
agg_area

                 funcao  valorEmpenhado
0         Administração        0.000646
1           Agricultura        0.035816
2    Assistência social        0.016929
3   Comércio e serviços        0.009067
4               Cultura        0.021761
5       Defesa nacional        0.220185
6              Educação        0.504902
7   Organização agrária        0.012543
8   Relações exteriores        0.006035
9                 Saúde        0.118041
10             Trabalho        0.018084
11           Transporte        0.017880
12            Urbanismo        0.018112

In [23]:
agg_area.to_csv('distribuicao_empenho_area_2022.csv')

## Criação de ETL e métodos organizados para monitoramento e automação

In [24]:
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

In [25]:
def run_request(url_):
  resposta = requests.get(url_, headers=headers)
  return resposta.json()

In [26]:
def coletar_dados(url):
  logging.info('Pegou URL para a criação das diferentes URLs criando uma para cada página')
  list_urls = [url + str(i) for i in range(1, 6)]
  arr_urls = np.asarray(list_urls)

  vec_run = np.vectorize(run_request)
  logging.info('Fazendo uma requisição para cada URL')
  arr_responses = vec_run(arr_urls)
  logging.info('Requisições concluídas')
  arr_responses = arr_responses.tolist()
  reposta = np.concatenate(arr_responses).tolist()
  return reposta

In [27]:
def transformar_dado(dado):
  logging.info('Criando dataframe')
  # Insira o código para a criação do dataframe a partir do parâmetro 'dado'
  df = pd.DataFrame(dado)
  # A variável deve ter o nome df_area
  # Insita o log sobre o que está sendo executado, utilizando 'logging.info'
  logging.info('Selecionando Colunas')
  df_area = df[['funcao', 'valorEmpenhado']]

  # Insita o log sobre o que está sendo executado, utilizando 'logging.info'
  logging.info('Transformando dado String -> Float')
  df_area['valorEmpenhado'] = df_area['valorEmpenhado'].str.replace('.', '').str.replace(',', '.').astype(np.float64)

  logging.info('Transformando dado string -> float')
  agg_area = df_area.groupby('funcao').sum('valorEmpenhado')

  logging.info('Transformando dados para retirar proporção em porcentagem')
  agg_area = agg_area['valorEmpenhado']/df_area['valorEmpenhado'].sum()

  # Insira o código para reset de index de agg_area, usando reset_index()
  agg_are = agg_area.reset_index()

  return agg_area

In [28]:
def carga(dado):
  # crie um arquivo CSV com p parâmetro 'dado', o nome do arquivo deve ser 'distribuicao_empenho_area_20220.csv'
  # esse método não tem retorno
    logging.info('Salvando arquivo...')
    dado.to_csv('distribuicao_empenho_area_2022.csv')
    logging.info('Arquivo salvo')

In [29]:
# Escreva aqui quais são os passos para a extração dos dados e processamento
# Este método não tem retorno, no final será gerado um CSV com os dados a serem salvos

def etl():
  logging.info('ETL iniciada...')
  url = 'https://api.portaldatransparencia.gov.br/api-de-dados/emendas?ano=2022&pagina='
  # colete os dados
  dado = coletar_dados(url)
  # transforme os dados
  dado = transformar_dado(dado)
  # salve os dados
  carga(dado)
  logging.info('ETL finalizada!')

In [30]:
etl()

2024-02-11 19:23:53,620 - INFO - ETL iniciada...
2024-02-11 19:23:53,623 - INFO - Pegou URL para a criação das diferentes URLs criando uma para cada página
2024-02-11 19:23:53,624 - INFO - Fazendo uma requisição para cada URL
2024-02-11 19:23:55,531 - INFO - Requisições concluídas
2024-02-11 19:23:55,532 - INFO - Criando dataframe
2024-02-11 19:23:55,535 - INFO - Selecionando Colunas
2024-02-11 19:23:55,537 - INFO - Transformando dado String -> Float
C:\Users\na_fe\AppData\Local\Temp\ipykernel_16696\318540345.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_area['valorEmpenhado'] = df_area['valorEmpenhado'].str.replace('.', '').str.replace(',', '.').astype(np.float64)
2024-02-11 19:23:55,540 - INFO - Transformando dado string -> float
2024-02-11 19:23:55,542 - INFO - Transformando dados para retirar proporção em porcentagem
2024-02-11 19:23:55,543 - INFO - Salvando arquivo...
2024-02-11 19:23:55,548 - INFO - Arquivo salvo
2024-02-11 19:23:55,551 - INFO - ETL finalizada!