# Bootcamp Data Analytics - Womakers Code

**Aluna:** Natália Ferreira  
**Squad:** Sônia Guimarães

*EXERCICIOS BANDO DE DADOS*

**1.** Crie uma tabela chamada "alunos" com os seguintes campos: id (inteiro), nome (texto), idade (inteiro) e curso (texto).

In [1]:
import sqlite3

# Conectar o python ao banco de dados
conexao = sqlite3.connect('banco')

# Criar um cursor para executar comandos SQL
cursor = conexao.cursor()

# Definir o comando SQL para criar a tabela 'alunos'
criar_tabela_alunos = '''
CREATE TABLE alunos (
    id INTEGER PRIMARY KEY,
    nome TEXT,
    idade INTEGER,
    curso TEXT
)
'''

# Executar o comando SQL para criar a tabela
cursor.execute(criar_tabela_alunos)

# Confirmar a transação
conexao.commit()

# Fechar a conexão com o banco de dados
conexao.close()

print("Tabela 'alunos' criada com sucesso!")

Tabela 'alunos' criada com sucesso!

**2.** Insira pelo menos 5 registros de alunos na tabela que você criou no
exercício anterior.

In [2]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Lista de registros de exemplo
alunos = [
    (1, 'Maria', 31, 'Engenharia'),
    (2, 'João', 22, 'Medicina'),
    (3, 'Ana', 28, 'Direito'),
    (4, 'Pedro', 23, 'Administração'),
    (5, 'Carla', 26, 'Ciência da Computação')
]

# Inserir os registros na tabela 'alunos'
for aluno in alunos:
    cursor.execute('INSERT INTO alunos (id, nome, idade, curso) VALUES (?, ?, ?, ?)', aluno)

conexao.commit()
conexao.close()

print("Registros de alunos inseridos com sucesso!")

Registros de alunos inseridos com sucesso!

**3.** Consultas Básicas  

Escreva consultas SQL para realizar as seguintes tarefas:
- Selecionar todos os registros da tabela "alunos".

In [4]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Selecionar todos os registros da tabela 'alunos'
cursor.execute('SELECT * FROM alunos')

# Recuperar todos os resultados
registros = cursor.fetchall()

# Exibir os registros
for registro in registros:
    print(registro)

conexao.close()

(1, 'Maria', 31, 'Engenharia')
(2, 'João', 22, 'Medicina')
(3, 'Ana', 28, 'Direito')
(4, 'Pedro', 23, 'Administração')
(5, 'Carla', 26, 'Ciência da Computação')

- Selecionar o nome e a idade dos alunos com mais de 20 anos.

In [5]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Selecionar o nome e a idade dos alunos com mais de 20 anos
cursor.execute("SELECT nome, idade FROM alunos WHERE idade > 20")

# Recuperar os resultados
resultados = cursor.fetchall()

# Exibir os resultados
print("Alunos com mais de 20 anos:")
for resultado in resultados:
    print("Nome:", resultado[0], "| Idade:", resultado[1])

conexao.close()

Alunos com mais de 20 anos:
Nome: Maria | Idade: 31
Nome: João | Idade: 22
Nome: Ana | Idade: 28
Nome: Pedro | Idade: 23
Nome: Carla | Idade: 26

- Selecionar os alunos do curso de "Engenharia" em ordem
alfabética.

In [6]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Selecionar os alunos do curso de "Engenharia" em ordem alfabética
cursor.execute("SELECT nome, idade FROM alunos WHERE curso = 'Engenharia' ORDER BY nome")

# Recuperar os resultados
resultados = cursor.fetchall()

# Exibir os resultados
print("Alunos do curso de Engenharia em ordem alfabética:")
for resultado in resultados:
    print("Nome:", resultado[0], "| Idade:", resultado[1])

conexao.close()

Alunos do curso de Engenharia em ordem alfabética:
Nome: Maria | Idade: 31

- Contar o número total de alunos na tabela

In [7]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Contar o número total de alunos na tabela
cursor.execute("SELECT COUNT(*) FROM alunos")

# Recuperar o resultado
total_alunos = cursor.fetchone()[0]

# Exibir o resultado
print("Número total de alunos na tabela:", total_alunos)

conexao.close()

Número total de alunos na tabela: 5

**4.** Atualização e Remoção
- Atualize a idade de um aluno específico na tabela.

In [8]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Atualizar a idade do aluno com nome "Pedro" para 19 anos
cursor.execute("UPDATE alunos SET idade = ? WHERE nome = ?", (19, "Pedro"))

# Confirmar a transação
conexao.commit()

# Exibir mensagem de sucesso
print("Idade do aluno Pedro atualizada com sucesso para 19 anos.")

conexao.close()

Idade do aluno Pedro atualizada com sucesso para 19 anos.

- Remova um aluno pelo seu ID.

In [9]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Remover o aluno com ID 4
cursor.execute("DELETE FROM alunos WHERE id = ?", (4,))

# Confirmar a transação
conexao.commit()

# Exibir mensagem de sucesso
print("Aluno com ID 4 removido com sucesso.")

conexao.close()

Aluno com ID 4 removido com sucesso.

**5.** Criar uma Tabela e Inserir Dados

Crie uma tabela chamada "clientes" com os campos: id (chave
primária), nome (texto), idade (inteiro) e saldo (float). Insira alguns
registros de clientes na tabela.

In [10]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Definir o comando SQL para criar a tabela 'clientes'
criar_tabela_clientes = '''
CREATE TABLE clientes (
    id INTEGER PRIMARY KEY,
    nome TEXT,
    idade INTEGER,
    saldo REAL
)
'''

# Executar o comando SQL para criar a tabela
cursor.execute(criar_tabela_clientes)

# Lista de registros de exemplo
clientes = [
    (1, 'Sonia', 35, 1000.50),
    (2, 'Rubens', 45, 2500.75),
    (3, 'Jessica', 28, 150.00),
    (4, 'Luis', 50, 3000.20),
    (5, 'Silvia', 40, 1800.00)
]

# Inserir os registros na tabela 'clientes'
for cliente in clientes:
    cursor.execute('INSERT INTO clientes (id, nome, idade, saldo) VALUES (?, ?, ?, ?)', cliente)


conexao.commit()
conexao.close()

print("Tabela 'clientes' criada e registros inseridos com sucesso!")

Tabela 'clientes' criada e registros inseridos com sucesso!

**6.** Consultas e Funções Agregadas

Escreva consultas SQL para realizar as seguintes tarefas:

- Selecione o nome e a idade dos clientes com idade superior a
30 anos.

In [11]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Selecionar o nome e a idade dos clientes com idade superior a 30 anos
cursor.execute("SELECT nome, idade FROM clientes WHERE idade > 30")

# Recuperar os resultados
resultados = cursor.fetchall()

# Exibir os resultados
print("Clientes com mais de 30 anos:")
for resultado in resultados:
    print("Nome:", resultado[0], "| Idade:", resultado[1])

conexao.close()

Clientes com mais de 30 anos:
Nome: Sonia | Idade: 35
Nome: Rubens | Idade: 45
Nome: Luis | Idade: 50
Nome: Silvia | Idade: 40

- Calcule o saldo médio dos clientes.

In [12]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Calcular o saldo médio dos clientes
cursor.execute("SELECT AVG(saldo) FROM clientes")

# Recuperar o resultado
saldo_medio = cursor.fetchone()[0]

# Exibir o resultado
print("Saldo médio dos clientes:", saldo_medio)

conexao.close()

Saldo médio dos clientes: 1690.2900000000002

- Encontre o cliente com o saldo máximo.

In [13]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Encontrar o cliente com o saldo máximo
cursor.execute("SELECT nome, idade, saldo FROM clientes WHERE saldo = (SELECT MAX(saldo) FROM clientes)")

# Recuperar o resultado
cliente_saldo_maximo = cursor.fetchone()

# Exibir o resultado
print("Cliente com saldo máximo:")
print("Nome:", cliente_saldo_maximo[0])
print("Idade:", cliente_saldo_maximo[1])
print("Saldo:", cliente_saldo_maximo[2])

conexao.close()

Cliente com saldo máximo:
Nome: Luis
Idade: 50
Saldo: 3000.2

- Conte quantos clientes têm saldo acima de 1000.

In [14]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Contar quantos clientes têm saldo acima de 1000
cursor.execute("SELECT COUNT(*) FROM clientes WHERE saldo > 1000")

# Recuperar o resultado
clientes_acima_de_1000 = cursor.fetchone()[0]

# Exibir o resultado
print("Número de clientes com saldo acima de 1000:", clientes_acima_de_1000)

conexao.close()

Número de clientes com saldo acima de 1000: 4

**7.** Atualização e Remoção com Condições
- Atualize o saldo de um cliente específico.

In [15]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Atualizar o saldo do cliente chamado "Rubens" para 2000
cursor.execute("UPDATE clientes SET saldo = ? WHERE nome = ?", (2000, "Rubens"))

# Confirmar a transação
conexao.commit()

# Exibir mensagem de sucesso
print("Saldo do cliente Rubens atualizado para 2000.")

conexao.close()

Saldo do cliente Rubens atualizado para 2000.

- Remova um cliente pelo seu ID.

In [16]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Remover o cliente com ID 1
cursor.execute("DELETE FROM clientes WHERE id = ?", (1,))

# Confirmar a transação
conexao.commit()

# Exibir mensagem de sucesso
print("Cliente com ID 1 removido com sucesso.")

conexao.close()

Cliente com ID 1 removido com sucesso.

**8.** Junção de Tabelas

Crie uma segunda tabela chamada "compras" com os campos: id (chave primária), cliente_id (chave estrangeira referenciando o id da tabela "clientes"), produto (texto) e valor (real). Insira algumas compras associadas a clientes existentes na tabela "clientes".
Escreva uma consulta para exibir o nome do cliente, o produto e o valor de cada compra.

In [17]:
conexao = sqlite3.connect('banco')
cursor = conexao.cursor()

# Definir o comando SQL para criar a tabela 'compras'
criar_tabela_compras = '''
CREATE TABLE compras (
    id INTEGER PRIMARY KEY,
    cliente_id INTEGER,
    produto TEXT,
    valor REAL,
    FOREIGN KEY(cliente_id) REFERENCES clientes(id)
)
'''

# Executar o comando SQL para criar a tabela
cursor.execute(criar_tabela_compras)

# Lista de compras de exemplo
compras = [
    (1, 2, 'Notebook', 1500.00),  # Cliente com ID 2
    (2, 4, 'Smartphone', 1000.00),  # Cliente com ID 4
    (3, 5, 'Fones de Ouvido', 50.00),  # Cliente com ID 5
    (4, 2, 'Tablet', 800.00),  # Cliente com ID 2
    (5, 3, 'Câmera', 1200.00)  # Cliente com ID 3
]

# Inserir as compras na tabela 'compras'
for compra in compras:
    cursor.execute('INSERT INTO compras (id, cliente_id, produto, valor) VALUES (?, ?, ?, ?)', compra)

# Confirmar a transação
conexao.commit()

# Consulta para exibir o nome do cliente, o produto e o valor de cada compra
consulta = '''
SELECT c.nome, co.produto, co.valor
FROM compras co
JOIN clientes c ON co.cliente_id = c.id
'''

# Executar a consulta
cursor.execute(consulta)

# Recuperar os resultados
resultados = cursor.fetchall()

# Exibir os resultados
print("Nome do Cliente | Produto | Valor da Compra")
for resultado in resultados:
    print(resultado[0], "|", resultado[1], "| R$", resultado[2])

conexao.close()

Nome do Cliente | Produto | Valor da Compra
Rubens | Notebook | R$ 1500.0
Luis | Smartphone | R$ 1000.0
Silvia | Fones de Ouvido | R$ 50.0
Rubens | Tablet | R$ 800.0
Jessica | Câmera | R$ 1200.0